<title>Budget Tracker - Budget Profile</title>

<div class="w3-container">

  {{! <h5>Budget Profile</h5> }}

  {{! <div class="container" style="display: flex; height: 100px;">
    <div style="width: 50%;">
      <div id="bar_div"></div>
    </div>
    <div style="flex-grow: 1;">
      <div id="pie_div"></div>
    </div>
  </div> }}

  {{! <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /> }}

  {{! BEGIN MY OG TABLE }}
  {{!-- <table
    class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white"
  >
    <tr>
      <th style="text-align:left">Balance (desired):</th>
      <th style="text-align:left">Balance (actual):</th>
    </tr>
    <tr>
      <th style="text-align:left">
        <form method="POST">
          <input
            type="text"
            placeholder={{desired_balance}}
            required
            name="desiredBalance"
          />
        </form>
      </th>
      <th style="text-align:left">{{actual_balance}}</th>
    </tr>
  </table><br />
  <table
    class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white"
  >
    <tr>
      <th style="text-align:left">Food (desired):</th>
      <th style="text-align:left">Food (actual):</th>
    </tr>
    <tr>
      <td>
        <form>
          <input type="numbers" id="desiredBalance" name="desiredBalance" />
        </form>
      </td>
      <td>{{actual_food}}</td>
    </tr>
  </table><br />
  <table
    class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white"
  >
    <tr>
      <td>Entertainment (desired):</td>
      <td>Entertainment (actual):</td>
    </tr>
    <tr>
      <td>
        <form>
          <input type="numbers" id="desiredBalance" name="desiredBalance" />
        </form>
      </td>
      <td>{{actual_entertainment}}</td>
    </tr>
  </table><br />
  <table
    class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white"
  >
    <tr>
      <td>Shopping (desired):</td>
      <td>Shopping (actual):</td>
    </tr>
    <tr>
      <td>
        <form>
          <input type="numbers" id="desiredBalance" name="desiredBalance" />
        </form>
      </td>
      <td>{{actual_shopping}}</td>
    </tr>
  </table><br />
  <table
    class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white"
  >
    <tr>
      <td>Payments (desired):</td>
      <td>Payments (actual):</td>
    </tr>
    <tr>
      <td>
        <form>
          <input type="numbers" id="desiredBalance" name="desiredBalance" />
        </form>
      </td>
      <td>{{actual_payments}}</td>
    </tr>
  </table><br />
  <table
    class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white"
  >
    <tr>
      <td>Travel (desired):</td>
      <td>Travel (actual):</td>
    </tr>
    <tr>
      <td>
        <form>
          <input type="numbers" id="desiredBalance" name="desiredBalance" />
        </form>
      </td>
      <td>{{actual_travel}}</td>
    </tr>
  </table><br /> --}}
  {{! END MY OG TABLE }}
  {{! <br /> }}

  <head>
    <!-- Font Awesome -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css"
      rel="stylesheet"
    />
    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <!-- MDB -->
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/3.6.0/mdb.min.css"
      rel="stylesheet"
    />
  </head>

  <section>
    <div class="row">
      {{! TOTAL }}
      <div class="col-xxxl-3 col-sm-50% col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div>
                <h3 class="text-success">70% of Total Budget Spent</h3>
                {{! <p class="mb-0">Total</p> }}
              </div>
              <div class="align-self-center">
                <i class="fas fa-money text-success fa-3x"></i>
              </div>
            </div>
            <div class="px-md-1">
              <div class="progress mt-3 mb-1 rounded" style="height: 17px">
                <div
                  class="progress-bar bg-success"
                  role="progressbar"
                  style="width: 60%"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <div id="total" style="width: 100%; height: 350%"></div>
            </div>
          </div>
        </div>
      </div>

      <br />
      <h4 style="text-align:center">Spending per category</h4>

      {{! FOOD }}
      <div class="col-xxxl-3 col-sm-6 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div>
                <h4 class="text-warning">Food - $450</h4>
                <p class="mb-0">Desired Budget: $500</p>
                <p class="mb-0">$50 remaining</p>
              </div>
              <div class="align-self-center">
                <i class="fas fa-mug-hot text-warning fa-3x"></i>
              </div>
            </div>
            <div class="px-md-1">
              <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                <div
                  class="progress-bar bg-warning"
                  role="progressbar"
                  style="width: 78%"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              {{! <div id="food" style="width: 100%; height: 100%"></div> }}
            </div>
          </div>
        </div>
      </div>

      {{! TRANSPORTATION }}
      <div class="col-xxxl-3 col-sm-6 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div>
                <h4 class="text-danger">Transportation - $250</h4>
                <p class="mb-0">Desired Budget: $280</p>
                <p class="mb-0">$30 remaining</p>
              </div>
              <div class="align-self-center">
                <i class="fas fa-car text-danger fa-3x"></i>
              </div>
            </div>
            <div class="px-md-1">
              <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                <div
                  class="progress-bar bg-danger"
                  role="progressbar"
                  style="width: 90%"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              {{! <div id="transportation" style="width: 100%; height: 100%"></div> }}
            </div>
          </div>
        </div>
      </div>
      {{! SHOPPING }}
      <div class="col-xxxl-3 col-sm-6 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div>
                <h4 class="text-success">Shopping - $100</h4>
                <p class="mb-0">Desired Budget: $250</p>
                <p class="mb-0">$150 remaining</p>
              </div>
              <div class="align-self-center">
                <i class="fas fa-wallet text-success fa-3x"></i>
              </div>
            </div>
            <div class="px-md-1">
              <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                <div
                  class="progress-bar bg-success"
                  role="progressbar"
                  style="width: 60%"
                  aria-valuenow="60"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              {{! <div id="shopping" style="width: 100%; height: 100%"></div> }}
            </div>
          </div>
        </div>
      </div>
      {{! ENTERTAINMENT }}
      <div class="col-xxxl-3 col-sm-6 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div>
                <h4 class="text-success">Entertainment - $40</h4>
                <p class="mb-0">Desired Budget: $200</p>
                <p class="mb-0">$160 remaining</p>
              </div>
              <div class="align-self-center">
                <i class="fas fa-tv text-success fa-3x"></i>
              </div>
            </div>
            <div class="px-md-1">
              <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                <div
                  class="progress-bar bg-success"
                  role="progressbar"
                  style="width: 33%"
                  aria-valuenow="33"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              {{! <div id="entertainment" style="width: 100%; height: 100%"></div> }}
            </div>
          </div>
        </div>
      </div>
      {{! PAYMENTS }}
      <div class="col-xxxl-3 col-sm-6 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div>
                <h4 class="text-warning">Payments - $150</h4>
                <p class="mb-0">Desired Budget: $210</p>
                <p class="mb-0">$60 remaining</p>
              </div>
              <div class="align-self-center">
                <i class="fas fa-bank text-warning fa-3x"></i>
              </div>
            </div>
            <div class="px-md-1">
              <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                <div
                  class="progress-bar bg-warning"
                  role="progressbar"
                  style="width: 80%"
                  aria-valuenow="80"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              {{! <div id="payments" style="width: 100%; height: 100%"></div> }}
            </div>
          </div>
        </div>
      </div>
      {{! Travel }}
      <div class="col-xxxl-3 col-sm-6 col-12 mb-4">
        <div class="card">
          <div class="card-body">
            <div class="d-flex justify-content-between px-md-1">
              <div>
                <h4 class="text-success">Travel - $140</h4>
                <p class="mb-0">Desired Budget: $1500</p>
                <p class="mb-0">$1360 remaining</p>
              </div>
              <div class="align-self-center">
                <i class="fas fa-plane text-success fa-3x"></i>
              </div>
            </div>
            <div class="px-md-1">
              <div class="progress mt-3 mb-1 rounded" style="height: 7px">
                <div
                  class="progress-bar bg-success"
                  role="progressbar"
                  style="width: 20%"
                  aria-valuenow="20"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              {{! <div id="payments" style="width: 100%; height: 100%"></div> }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <footer>Instructions: </footer>
  <footer>Select date range, fill in data cells for your desired budget, and
    then press enter to view how your desired budget compares with your actual
    spending.</footer>
  <footer>Note: Do not use commas when entering large amounts</footer>

  {{! <div id="chartdiv"></div> }}

  {{! <br /> }}
  <br />
  <style>
    input[type=text], select { width:75%; padding: 5% 0px; margin:15%; display:
    inline-block; border: 1px solid #ccc; border-radius: 4px; box-sizing:
    border-box; } #Submit { visibility: hidden; }
  </style>

  <form method="POST">
    <table>
      <tr>
        <th style="text-align:center">Categories: </th>
        <th style="text-align:center">Food</th>
        <th style="text-align:center">Travel/Transportation</th>
        <th style="text-align:center">Payments</th>
        <th style="text-align:center">Entertainment</th>
        <th style="text-align:center">Shopping</th>
      </tr>
      <tr>
        <td style="text-align:center">Desired $: </td>
        <td style="text-align:center"><input
            type="text"
            placeholder={{desired_food}}
            name="desiredFood"
            id="desiredFood"
            style="text-align:center"
          /></td>
        <td style="text-align:center"><input
            type="text"
            placeholder={{desired_travel}}
            name="desiredTravel"
            style="text-align:center"
          /></td>
        <td style="text-align:center"><input
            type="text"
            placeholder={{desired_payments}}
            name="desiredPayments"
            style="text-align:center"
          /></td>
        <td style="text-align:center"><input
            type="text"
            placeholder={{desired_entertainment}}
            name="desiredEntertainment"
            style="text-align:center"
          /></td>
        <td style="text-align:center">
          <input
            type="text"
            placeholder={{desired_shopping}}
            name="desiredShopping"
            style="text-align:center"
          /></td>
      </tr>
      <tr>
        <td style="text-align:center">Actual $: </td>
        <td style="text-align:center">{{actual_food}}</td>
        <td style="text-align:center">{{actual_travel}}</td>
        <td style="text-align:center">{{actual_payments}}</td>
        <td style="text-align:center">{{actual_entertainment}}</td>
        <td style="text-align:center">{{actual_shopping}}</td>
      </tr>

      <tr>

      </tr>
      <td>
        <input
          style="text-align:center"
          type="submit"
          value="Submit Budget"
          id="Submit"
        />
      </td>
    </table>

  </form>

  <footer>Target Budget: {{desired_balance}}</footer>
  <footer>Total Spent: {{actual_balance}}</footer>
  <footer>{{over_or_under}}{{over_or_under_amount}}</footer><br />
  <a href="/transaction_history" class="w3-button w3-dark-grey">View the
    transactions for this budget
    <i class="fa fa-arrow-right"></i></a>

  <script
    type="text/javascript"
    src="https://www.gstatic.com/charts/loader.js"
  ></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart); function drawChart() { var data
    = google.visualization.arrayToDataTable([ ['Day', 'Desired Budget',
    'Spending'], [5, 2940, 0], [15, 2940, 1000], [25, 2940, 2058] ]); var
    options = { title: 'Total Budget', curveType: 'function', legend: {
    position: 'bottom' } }; var chart = new
    google.visualization.LineChart(document.getElementById('total'));
    chart.draw(data, options); }
  </script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart); function drawChart() { var data
    = google.visualization.arrayToDataTable([ ['Year', 'Desired', 'Actual'],
    ['2004', 1000, 400], ['2005', 1000, 460], ['2006', 1000, 1000], ['2007',
    1000, 1100] ]); var options = { title: 'Total', curveType: 'function',
    legend: { position: 'bottom' } }; var chart = new
    google.visualization.LineChart(document.getElementById('food'));
    chart.draw(data, options); }
  </script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart); function drawChart() { var data
    = google.visualization.arrayToDataTable([ ['Year', 'Desired', 'Actual'],
    ['2004', 1000, 400], ['2005', 1000, 460], ['2006', 1000, 1000], ['2007',
    1000, 1100] ]); var options = { title: 'Total', curveType: 'function',
    legend: { position: 'bottom' } }; var chart = new
    google.visualization.LineChart(document.getElementById('transportation'));
    chart.draw(data, options); }
  </script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart); function drawChart() { var data
    = google.visualization.arrayToDataTable([ ['Year', 'Desired', 'Actual'],
    ['2004', 1000, 400], ['2005', 1000, 460], ['2006', 1000, 1000], ['2007',
    1000, 1100] ]); var options = { title: 'Total', curveType: 'function',
    legend: { position: 'bottom' } }; var chart = new
    google.visualization.LineChart(document.getElementById('shopping'));
    chart.draw(data, options); }
  </script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart); function drawChart() { var data
    = google.visualization.arrayToDataTable([ ['Year', 'Desired', 'Actual'],
    ['2004', 1000, 400], ['2005', 1000, 460], ['2006', 1000, 1000], ['2007',
    1000, 1100] ]); var options = { title: 'Total', curveType: 'function',
    legend: { position: 'bottom' } }; var chart = new
    google.visualization.LineChart(document.getElementById('entertainment'));
    chart.draw(data, options); }
  </script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawChart); function drawChart() { var data
    = google.visualization.arrayToDataTable([ ['Year', 'Desired', 'Actual'],
    ['2004', 1000, 400], ['2005', 1000, 460], ['2006', 1000, 1000], ['2007',
    1000, 1100] ]); var options = { title: 'Total', curveType: 'function',
    legend: { position: 'bottom' } }; var chart = new
    google.visualization.LineChart(document.getElementById('payments'));
    chart.draw(data, options); }
  </script>

</div>